dj-database-url==0.4.1
Django==1.10.4
gunicorn==19.6.0
-e git://github.com/rohitahuja/messenger.git@6fafa391a125309c4f31ae3021c80755fd46427c#egg=messenger
psycopg2==2.6.2
requests==2.12.4
whitenoise==3.2
